@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 800px;
}

header h2 {
    color: #383838;
    margin: 0;
    padding: 10px;
    text-align: center;
}

button {
    color: #000;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
}

canvas {
    border: 1px solid #000;

}

.panel label,
span {
    color: #000;
    font-size: 20px;
}

.panel {
    margin-bottom: 10px;
}

.list {
    height: 200px;
    overflow-y: scroll;
    background-color: #383838;
    color: aliceblue;
}